<div class="container">
  <h1>Jogo de Adivinhação</h1>
  <p>Número de 1 a 100. Você tem {{ tentativasRestantes }} tentativas!</p>

  <ion-item *ngIf="tentativasRestantes > 0 && !jogoFinalizado">
    <ion-input
      type="number"
      placeholder="Seu palpite"
      [(ngModel)]="palpite"
      [disabled]="jogoFinalizado"
    ></ion-input>
    <ion-button expand="block" (click)="verificarPalpite()">Enviar</ion-button>
  </ion-item>

  <p *ngIf="mensagem">{{ mensagem }}</p>

  <ion-button expand="block" color="primary" (click)="reiniciarJogo()" *ngIf="jogoFinalizado">
    Jogar Novamente
  </ion-button>
</div>
